# Python System
__pycache__/
*.py[cod]
venv/
.env
.venv/

# Data & Databases 
*.db
*.sqlite3
data/
logs/
reports/

# IDE settings
.vscode/
.idea/

#  python -m venv venv
# source venv/Scripts/activate